/*MycahllengeList*/
.challengeImg {
  display: flex;
  align-items: center;
}

.myChallengeBox {
  margin-left: 20px;
  color: white;
}

.challengeImg img {
  max-width: 60px;
  margin-left: 5px;
  height: auto;
}

.exerciseTypeContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.exerciseTypeSection {
  margin-right: 20px;
  text-align: center;
}

.exerciseTypeSection:last-child {
  margin-right: 0;
}

.situp .exerciseTypeImage {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
}

.pushup .exerciseTypeImage {
  max-width: 100px;
  height: auto;
}

.squat .exerciseTypeImage {
  max-width: 100px;
  height: auto;
}

/* 운동 리스트 */
.exercise-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* 내부 요소들을 균등하게 배치 */
  align-items: center; /* 세로축 중앙 정렬 */
  padding: 10% 0; /* 상단과 하단에 padding 추가 */
  width: 335px;
  height: 140px;
}

.exercise-content {
  background: #353535;
  margin-left: 10%;
  border-radius: 30%;
  height: 80px;
  width: 80px;
  box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.4),
    9px 9px 16px rgba(0, 0, 0, 0.4);
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
}

/* 각 운동 이미지와 텍스트를 담는 컨테이너 */
.exercise-item {
  display: flex;
  text-align: center;
  flex-basis: 30%; /* 각 항목이 차지하는 기본 너비 설정 */
}

/* 이미지 스타일 */
.exercise-image {
  width: 60%; /* 이미지의 너비 설정 */
  height: 60%; /* 이미지의 높이 설정 */
  object-fit: contain;
}

.buttonBox {
  margin-left: auto;
}

.buttonBox-plus img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.challenge-subject {
  font-size: 13px;
  color: white;
}
