/* 기본 배경 색 */
.CommonContainer {
    background-color: #303234;
}

/* 각 화면의 제목이 나오는 부분 */
.header-inscreen {
    background-color: #303234;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.40);
    height: 48px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    position: sticky;
    top: 0%;
    font-weight: 500;
    font-size: 1.5em;
    color: #f5f5f5;

    /* Flexbox 추가해서 제목이 세로 정렬 중앙에 오도록 배치 */
    display: flex;
    align-items: center;
}




/* 카드 형태 */
/* 기본 카드 */
.primaryCard {
    background-color: #303234;
    border-radius: 8px;
    box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.40), 9px 9px 16px rgba(0, 0, 0, 0.40);
    /* overflow-x: scroll;
    white-space: nowrap; */
}

/* 기본 카드 안에 Vector 요소 있으면 적용할만 한 스타일 */
.primaryCard-vector {
    fill: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    stroke-width: 1px;
    stroke: #303234;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* 기본 카드 안의 텍스트에 그라데이션 적용하고 싶으면 추가 */
.primaryCard-text {
    background: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    -webkit-background-clip: text;
    /* 웹킷 브라우저에서 텍스트를 그라데이션으로 채우기 위해 필요한 속성 */
    background-clip: text;
    /* 텍스트를 그라데이션으로 채우기 위한 속성 */
    color: transparent;
    /* 텍스트 색상을 투명하게 설정하여 배경 그라데이션을 표시합니다. */
    /* box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset; */
    /* 다른 스타일 속성들 */
}




/* 버튼 */
/* 기본 버튼 - 볼록한 형태 */
.primaryButton-outset {
    /* fill: #303234; */
    /* margin: 24px; */
    /* background-color: #303234; */
    background: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.60), 9px 9px 16px rgba(0, 0, 0, 0.40);
    /* box-shadow: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
}

/* 기본 버튼 - 볼록 hover - 덜 구현 됨 */
.primaryButton-outset:hover {
    /* fill: #303234; */
    background-color: #72879c;
    /* filter: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
    /* box-shadow: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
}

/* 기본 버튼 - 볼록 클릭/터치 시 - 덜 구현 됨 */
.primaryButton-outset:active {
    /* fill: #303234; */
    background-color: #517aa3 !important;
    /* filter: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
    /* box-shadow: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
}

/* 기본 버튼 - 볼록 안의 Vector 적용할 만한 스타일 */
.primaryButton-outset-text {
    fill: #03A9F1;
    stroke-width: 1px;
    stroke: rgba(51, 48, 48, 0.50);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.70) inset;
}




/* 기본 버튼 - 오목한 형태 */
.primaryButton-inset {
    fill: radial-gradient(45.89% 60.07% at 50% 50%, #2E3134 0%, #292B2E 100%);
    stroke-width: 1px;
    stroke: #272829;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.30) inset;
}




/* 반응형 조건문 */
@media screen and (max-width: 768px) {

    .header-inscreen {
        height: 8%;
        width: 100%;
        z-index: 2;
    }

    .header-inscreen span {
        margin: 20px;
    }
}