/* 기본 배경 색 */
.CommonContainer {
    background-color: #303234;
}

/* 각 화면의 제목이 나오는 부분 */
/* .header-inscreen {
    background-color: #303234;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.40);
    height: 48px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    position: sticky;
    top: -0.2%;
    font-weight: 900;
    font-size: 1.5em;
    color: #f5f5f5;*/

/* Flexbox 추가해서 제목이 세로 정렬 중앙에 오도록 배치 */
/* display: flex;
    align-items: center;
    justify-content: center;
}  */




/* 카드 형태 */
/* 기본 카드 */
.primaryCard {
    background-color: #303234;
    border-radius: 8px;
    box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.40), 9px 9px 16px rgba(0, 0, 0, 0.40);
}

/* 기본 카드 안에 Vector 요소 있으면 적용할만 한 스타일 */
.primaryCard-vector {
    fill: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    stroke-width: 1px;
    stroke: #303234;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* 기본 카드 안의 텍스트에 그라데이션 적용하고 싶으면 추가 */
.primaryCard-text {
    background: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    -webkit-background-clip: text;
    /* 웹킷 브라우저에서 텍스트를 그라데이션으로 채우기 위해 필요한 속성 */
    background-clip: text;
    /* 텍스트를 그라데이션으로 채우기 위한 속성 */
    color: transparent;
    /* 텍스트 색상을 투명하게 설정하여 배경 그라데이션을 표시합니다. */
    /* box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset; */
    /* 다른 스타일 속성들 */
}




/* 버튼 */
/* 기본 버튼 - 볼록한 형태 */
.primaryButton-outset {
    /* fill: #303234; */
    /* margin: 24px; */
    /* background-color: #303234; */
    background: linear-gradient(140deg, #a4b0f1 -0.5%, #5d4fad 100%);
    box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.60), 9px 9px 16px rgba(0, 0, 0, 0.40);
    /* box-shadow: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
}

/* 기본 버튼 - 볼록 hover - 덜 구현 됨 */
.primaryButton-outset:hover {
    /* fill: #303234; */
    background-color: #72879c;
    /* filter: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
    /* box-shadow: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
}

/* 기본 버튼 - 볼록 클릭/터치 시 - 덜 구현 됨 */
.primaryButton-outset:active {
    /* fill: #303234; */
    background-color: #517aa3 !important;
    /* filter: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
    /* box-shadow: drop-shadow(-9px -9px 16px rgba(73, 73, 73, 0.60)) drop-shadow(9px 9px 16px rgba(0, 0, 0, 0.40)); */
}

/* 기본 버튼 - 볼록 안의 Vector 적용할 만한 스타일 */
.primaryButton-outset-text {
    fill: #03A9F1;
    stroke-width: 1px;
    stroke: rgba(51, 48, 48, 0.50);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.70) inset;
}




/* 기본 버튼 - 오목한 형태 */
.primaryButton-inset {
    fill: radial-gradient(45.89% 60.07% at 50% 50%, #2E3134 0%, #292B2E 100%);
    stroke-width: 1px;
    stroke: #272829;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.30) inset;
}






/* Back Button */
.common-backBtn {
    /* padding: 10px 30px; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    width: 2%;
    height: auto;
    /* margin: 10px; */
    position: absolute;
    left: 0%;
    top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}






/* SweetAlert2 CSS */
.sa2-confirm-button-class {
    background: linear-gradient(140deg, #a4b0f1 -0.5%, #5d4fad 100%) !important;
    box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.60), 9px 9px 16px rgba(0, 0, 0, 0.40) !important;
    color: #f5f5f5 !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 1.1em !important;
    width: 80% !important;
    border-radius: 8px !important;
}

.sa2-cancel-button-class {
    /* background: linear-gradient(140deg, #e08196 -0.5%, #c92e2e 100%) !important; */
    /* box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.60), 9px 9px 16px rgba(0, 0, 0, 0.40) !important; */
    color: #f5f5f5 !important;
    border: none !important;
    font-weight: 600 !important;
    font-size: 1.1em !important;
    width: 80% !important;
    border-radius: 8px !important;
}

.sa2-title-class {
    font-size: 21px !important;
    font-weight: 600 !important;
}


.sa2-icon-class {
    font-size: 10px !important;
}

.sa2-popup-class {
    background-color: #303234 !important;
    border-radius: 8px !important;
    box-shadow: -7px -7px 16px rgba(73, 73, 73, 0.20), 7px 7px 16px rgba(0, 0, 0, 0.30);
    color: #f5f5f5 !important;
    width: 85% !important;
    border-radius: 20px !important;
    margin-top: -15% !important;
    font-weight: 400 !important;
    font-size: 0.9em !important;
    /* line-height: 0.9em !important; */
}

.sa2-container-class {
    /* width: 60%; */
    width: 350px !important;
    height: 693.5px !important;
    box-sizing: border-box !important;
    position: absolute !important;
    left: 50% !important;
    /* right: 20%; */
    top: 50% !important;
    transform: translate(-174.7px, -346.9px) !important;
    margin-left: -158px !important;
    margin-top: 49px !important;
    border-bottom-left-radius: 45px !important;
    border-bottom-right-radius: 45px !important;
}

.sa2-confirm-button-class .swal2-icon svg {
    width: 12px !important;
    height: 12px !important;
}

.swal2-actions .swal2-confirm {
    background: linear-gradient(140deg, #a4b0f1 -0.5%, #5d4fad 100%) !important;
    color: #f5f5f5 !important;
    border: none !important;
    box-shadow: none !important;
}

.sa2-cancel-button-class .swal2-icon svg {
    width: 12px !important;
    height: 12px !important;
}

.swal2-actions .swal2-cancel {
    border-color: #d64c6a !important;
    box-shadow: none !important;
    border: none !important;
}

.swal2-confirm:focus,
.swal2-cancel:focus {
    box-shadow: none !important;
    border: none !important;
}

.swal2-actions button:hover {
    border: none !important;
}



/* 반응형 조건문 */
@media screen and (max-width: 768px) {

    .header-inscreen {
        height: 8%;
        width: 100%;
        z-index: 2;
    }

    .header-inscreen span {
        margin: 20px;
    }

    .sa2-container-class {
        display: block !important;
        position: fixed !important;
        /* 화면의 상단에 고정 */
        top: 0% !important;
        /* 화면의 상단에 고정 */
        left: 0% !important;
        width: 100% !important;
        height: 100% !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        overflow-y: auto !important;
        z-index: 1000 !important;
        transform: translate(0px, 0px) !important;
        border-radius: 0px !important;
    }

    .sa2-popup-class {
        width: 75% !important;
        border-radius: 20px !important;
        position: absolute !important;
        /* 기존 위치 속성을 fixed로 변경 */
        left: 50%;
        top: 37%;
        transform: translate(-50%, -5%);
        /* 화면 중앙에 위치하도록 설정 */
    }
}