.Exp{
    width:100vw;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    margin-top: 10%;
    margin-bottom: 10%;
}


.progressbar {
    /* 사이즈 */
    width:450px;
    height:75px;
    /* 컨텐츠 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    /* 스타일 */
    border-radius: 60px;
    background-color: #494b52;
    box-shadow: 0px 0px 20px #111;

    overflow: hidden;

}

.bar{
    /* size */
    width: 60%;
    

    /* style */
    background: rgb(255,174,105);
    
}