.Exp {
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    margin-top: 10%;
    margin-bottom: 10%;

}


.progressbar {
    /* 사이즈 */
    width: 250px;
    height: 20px;
    /* 컨텐츠 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    /* 스타일 */
    border-radius: 60px;
    background-color: #494b52;
    box-shadow: 0px 0px 20px #111;

    overflow: hidden;

    /* margin-left: -100%; */

}

.bar {
    /* size */
    width: 60%;


    /* style */
    background: #6A738F;

}

.slick-prev,
.slick-next {
    display: none !important;
}