/* 폰트 1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

/* 폰트 2 */
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

/* 폰트 2 */
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
  font-family: 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3 {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  color:inherit;
  text-decoration:none;
}

input{
/*ios대응*/
appearance: none;
-webkit-appearance: none;
-webkit-border-radius: 0;
}

select{
/*ios대응*/
-webkit-appearance: none;
-moz-appearance: none; 
appearance: none;
}

/* 라이브러리 */
.flex {
  display:flex;
}

.flex-jc-c {
  justify-content:center;
}

.flex-jc-fe {
  justify-content:flex-end;
}

.flex-jc-fs {
  justify-content:flex-start;
}

.flex-jc-sb{
  justify-content:space-between;
}

.flex-jc-sa{
  justify-content:space-around;
}
.flex-ai-c {
  align-items:center;
}

.flex-ai-fe {
  align-items:flex-end;
}

.flex-ai-fs{
  align-items:flex-start;
}

.flex-as-c {
  align-self:center;
}

.flex-wrap {
  flex-wrap:wrap;
}

.flex-column {
  flex-direction:column;

}

.flex-grow-1 {
  flex-grow:1;
}

.flex-1-0-0 {
  flex:1 0 0;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.min-height-100vh {
  min-height:100vh;
}

.min-height-50vh {
  min-height:50vh;
}

.bd{
  border:3px solid;
}

.bd-w{
  border:3px solid white;
}

.bd-green {
  border:3px solid green;
}

.bd-red {
  border:3px solid red;
}

.bd-purple {
  border:3px solid purple;
}

.bd-blue {
  border:3px solid blue;
}

.bg-pink {
  background-color:pink;
}

.bg-red {
  background-color:red;
}

.bg-blue {
  background-color:blue;
}

.height-100p {
  height:100%;
}

.height-70p{
  height:70%;
}

.height-500px{
  height:500px;
}


.block {
  display:block;
}

/* 스타일 파일에 다음 CSS 코드를 추가하세요. */
.mobile-section-login {
  text-align: center; /* 가운데 정렬 */
  width: 50%; /* 너비를 50%로 설정 */
  font-size: 0.9rem;
  font-weight: bold;
  padding: 20px 10px;
  margin: 0 auto; /* 수평 가운데 정렬을 위한 추가 스타일 */
}

.mobile-section-login-form {
  width: 100%;
}

.mobile-section-login-form > div {
  padding: 5px;
}

.mobile-section-login-form > div:not(:last-child) {
  padding: 5px 20px;
}

.mobile-login-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
  margin-bottom: 30px;
  border-bottom: 4px solid gray;
  text-shadow: 2px 2px 4px gray;
}

.mobile-section-login-form > div > span {
  padding-bottom: 3px;
  border-bottom: 2.5px solid gray;
}

.mobile-login_cell__title {
  color: black;
}

.mobile-login_cell__body > input {
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid rgba(230, 230, 230, 1);
  padding: 5px;
  height: 35px;
  width: 90%;
  min-width: 150px;
}

.mobile-loginInput_cell {
  margin-top: 10px;
  font-size: 0.9rem;
}

.mobile-loginInput_cell > div:first-child {
  display: flex;
  flex-direction: column;
}

.mobile-loginInput_cell > div > button {
  margin: 5px 2px;
  padding: 0 20px;
  font-size: 0.9rem;
}

.mobile-loginInput_cell > div:last-child {
  text-align: center;
  padding-top: 10px;
}

.mobile-loginInput_cell > div:last-child > a {
  padding: 7px;
}

.mobile-loginInput_cell > div > a:hover {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.btn-social-login {
  transition: all .2s;
  outline: 0;
  border: 1px solid transparent;
  padding: .5rem !important;
  border-radius: 50%;
  color: #fff;
}
.btn-social-login:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.text-dark { color: #343a40!important; }