@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Edu+TAS+Beginner&family=Nanum+Brush+Script&family=Noto+Serif+KR:wght@200&display=swap);

body {
    font-family: Lato;
    background: #f5f5f5;
}

#phone-container {
    width: 389px;
    height: 790px;
    z-index: 5;
    position: relative;
}

#Iphone {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://qr.io/assets/img/iphone-14.png");
    width: 389px;
    height: 790px;
    position: relative;
    z-index: 1;
    top: 2.48%;
    left: -5%;
    background-color: #f5f5f5;
    border-radius: 49px;
}

#Iphone-header {
    background-color: #f5f5f5;
    height: 61px;
    width: 348px;
    top: 2.4%;
    left: 5.9%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

#phone-container {
    position: relative;
}

#screen {
    width: 346px;
    height: 610px;
    box-sizing: border-box;
    position: absolute;
    left: 1.3%;
    top: 12%;
    z-index: 1;
    background-color: #f5f5f5;
    font-family: Lato;
    overflow: auto;
    border-top: 1px solid black;
}

.operator-name {
    position: absolute;
    top: 26%;
    left: 13%;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.2em;
}

.operator-5g {
    position: absolute;
    top: 26%;
    left: 70%;
    opacity: 0.8;
    font-weight: bold;
    font-size: 1.2em;
}

.battery {
    font-weight: bold;
    width: 33px;
    height: 23px;
    border: 2px solid rgb(102, 122, 159);
    border-radius: 4px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(254, 254, 254);
    font-weight: bold;
    position: absolute;
    top: 31%;
    left: 81%;
    text-shadow: none;
    font-size: 0.8em;
}

.QRcode {
    width: 200px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#text {
    color: #353541;
}

#text h1 {
    margin: 0;
    font-size: 4.5em;
    line-height: 1.1em;
    text-transform: uppercase;
}

#text h2 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10%;
    margin-left: 3%;
    font-family: Anton;
}

#text h3 {
    opacity: 0.3;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 30px;
}

.QRcode {
    margin-top: 10%;
}

/*
#pullmenu-icon {
    width: 40px;
    height: 5px;
    background: #353541;
    margin-top: 69px;
    position: relative;
    margin-bottom: 40px;
    left: 6px;
}

#pullmenu-icon:before {
    width: 40px;
    height: 5px;
    background: #353541;
    content: "";
    position: absolute;
    top: 10px;
}

#pullmenu-icon:after {
    width: 22px;
    height: 5px;
    background: #353541;
    content: "";
    position: absolute;
    top: 20px;
    left: 9px;
} */

.tabbar {
    border-radius: 8px;
    width: 348px;
    background: #f5f5f5;
    height: 83.5px;
    padding: 0 4px;
    box-shadow: 0 4px 12px -1px rgba(18, 22, 33, 0.3);
    position: absolute;
    right: 9.5%;
    top: 89.3%;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
}

@media screen and (max-width: 768px) {

    #Iphone,
    #text {
        display: none;
        background-image: none;
    }

    .main-container {
        display: block;
        position: relative;
        height: 90vh;
        width: 100vw;
        overflow-y: auto;
        background-color: #f5f5f5;
    }

    #phone-container {
        height: 90vh;
        width: 100vw;
        position: relative;
        overflow-y: auto;
        display: block;
        background-color: #f5f5f5;
    }

    #screen-container {
        width: 100vw;
        background-color: #f5f5f5;
        overflow-x: hidden;
    }

    #screen {
        display: block;
        position: relative;
        overflow-y: auto;
        width: 100vw;
        height: 90vh;
        z-index: 1000;
        left: 0%;
        background-color: #f5f5f5;
        border: none;
        /* padding-bottom: 10%; */
    }

    .tabbar {
        display: block;
        position: fixed;
        width: 100vw;
        height: 10vh;
        top: 90%;
        z-index: 1001;
        left: 0vh;
        align-items: center;
        overflow: hidden;
        background-color: #f5f5f5;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}