@import url(https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,100..900;1,100..900);
@import url(https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script&family=Edu+TAS+Beginner&family=Nanum+Brush+Script&family=Noto+Serif+KR:wght@200&display=swap);

body {
    font-family: "Montserrat", sans-serif;
    background: #f5f5f5;
    color: #f5f5f5;
}

/* .custom-scrollbars__container {
    background-color: white;
    border: 1px solid #333;
    border-radius: 12px;
    display: grid;
    height: 100%;
    grid-template: auto / 1fr 50px;
    overflow: hidden;
    position: relative;
} */

.custom-scrollbars__content {
    height: 90vh;
    -ms-overflow-style: none;
    overflow: auto;
    /* padding: 0 1rem; */
    scrollbar-width: none;
}


.custom-scroll-container {
    max-height: 300px;
    max-width: 300px;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: 0 1 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex: 0 1 33%;
}

.rcs-custom-scroll {
    min-height: 0;
    min-width: 0;
}

.rcs-custom-scroll .rcs-outer-container {
    overflow: hidden;
}

.rcs-custom-scroll .rcs-outer-container .rcs-positioning {
    position: relative;
}

.rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
    opacity: 1;
    transition-duration: 0.2s;
}

.rcs-custom-scroll .rcs-inner-container {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.rcs-custom-scroll .rcs-inner-container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.05) 60%,
            rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    transition: height 0.1s ease-in;
    will-change: height;
}

.rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
    height: 5px;
    transition: height 0.15s ease-out;
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
    user-select: none;
}

.rcs-custom-scroll .rcs-custom-scrollbar {
    position: absolute;
    height: 100%;
    width: 6px;
    right: 0px;
    opacity: 0;
    z-index: 100;
    transition: opacity 0.4s ease-out;
    padding: 6px 0;
    box-sizing: border-box;
    will-change: opacity;
    pointer-events: none;
}

.rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
    right: auto;
    left: 3px;
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
    opacity: 1;
}

.rcs-custom-scroll .rcs-custom-scroll-handle {
    position: absolute;
    width: 100%;
    top: 0;
}

.with-bg-color .rcs-inner-handle {
    height: calc(100% - 12px);
    margin-top: 6px;
    background-color: rgba(100, 21, 255, 0.7);
    border-radius: 3px;
}


#phone-container {
    width: 389px;
    height: 790px;
    z-index: 5;
    position: relative;
}

#Iphone {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://qr.io/assets/img/iphone-14.png");
    width: 392px;
    height: 790px;
    position: relative;
    z-index: 1;
    top: 2.48%;
    left: -5.1%;
    /* background-color: #f5f5f5; */
    background-color: transparent;
    /* background-color: #303234; */
    border: 2px;
    border-radius: 62px;
}

#Iphone-header {
    /* background-color: transparent; */
    background-color: #303234;
    height: 61px;
    width: 350px;
    top: 2.4%;
    left: 5.64%;
    z-index: 1;
    /* z-index: 1; */
    overflow: hidden;
    position: absolute;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

/* #screen-container {
    width: (61+607+83.5)px;
    /* background-color: #303234; */
/* overflow-y: hidden;
border-radius: 48px;
} */

#screen {
    width: 350px;
    height: 692.5px;
    box-sizing: border-box;
    position: absolute;
    left: 0.4%;
    top: 12.4%;
    z-index: 1;
    background-color: #303234;
    /* border-top: 1px solid black; */
    overflow: auto;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    /* padding-bottom: 90px; */
}

.operator-name {
    position: absolute;
    top: 30%;
    left: 13%;
    opacity: 1;
    font-weight: 500;
    /* font-size: 1.2em; */
    font-size: 1em;
    color: #f5f5f5;
}

.phone-header {
    position: absolute;
    width: 100px;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    font-weight: 500;
    font-size: 1em;
    color: #f5f5f5;
    z-index: 5;
}

.operator-5g {
    position: absolute;
    top: 28%;
    left: 70%;
    opacity: 1;
    /* font-weight: bold; */
    font-weight: 500;
    /* font-size: 1.2em; */
    font-size: 1em;
    color: #f5f5f5;
}

.battery {
    font-weight: bold;
    width: 33px;
    /* height: 23px; */
    height: 20px;
    border: 2px solid rgb(102, 122, 159);
    border-radius: 6px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: #f5f5f5;
    font-weight: 600;
    position: absolute;
    top: 31%;
    left: 81%;
    text-shadow: none;
    /* font-size: 0.8em; */
    font-size: 0.7em;
}

.QRcode {
    width: 200px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#text {
    color: #353541;
}

#text h1 {
    margin: 0;
    font-size: 4.5em;
    line-height: 1.1em;
    text-transform: uppercase;
}

#text h2 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10%;
    margin-left: 3%;
    font-family: Montserrat;
    font-weight: 900;
}

#text h3 {
    opacity: 0.3;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 30px;
}

.QRcode {
    margin-top: 10%;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}


#style-1::-webkit-scrollbar-thumb {
    background-color: #000000;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

/*
#pullmenu-icon {
    width: 40px;
    height: 5px;
    background: #353541;
    margin-top: 69px;
    position: relative;
    margin-bottom: 40px;
    left: 6px;
}

#pullmenu-icon:before {
    width: 40px;
    height: 5px;
    background: #353541;
    content: "";
    position: absolute;
    top: 10px;
}

#pullmenu-icon:after {
    width: 22px;
    height: 5px;
    background: #353541;
    content: "";
    position: absolute;
    top: 20px;
    left: 9px;
} */

.tabbar {
    border-radius: 8px;
    width: 350px;
    background: #303234;
    height: 85.5px;
    padding: 0 4px;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 1);
    position: absolute;
    right: 9.5%;
    /* top: 89.399%; */
    top: 89.29%;
    align-items: center;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 49px;
    z-index: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media screen and (max-width: 768px) {

    #Iphone,
    #text {
        display: none;
        background-image: none;
    }

    .main-container {
        display: block;
        position: relative;
        height: 90vh;
        width: 100vw;
        overflow-y: auto;
        background-color: #f5f5f5;
    }

    #phone-container {
        height: 90vh;
        width: 100vw;
        position: relative;
        overflow-y: auto;
        display: block;
        background-color: #f5f5f5;
    }

    #screen-container {
        width: 100vw;
        /* background-color: #f5f5f5; */
        background-color: #303234;
        overflow-x: hidden;
    }

    #screen {
        display: block;
        position: fixed;
        /* 화면의 상단에 고정 */
        top: 0;
        /* 화면의 상단에 고정 */
        left: 0;
        width: 100%;
        height: 100%;
        /* 화면의 높이에서 탭 바의 높이를 뺀 나머지 */
        /* position: relative; */
        overflow-y: auto;
        /* width: 100vw; */
        /* height: 90vh; */
        z-index: 1000;
        /* left: 0%; */
        background-color: #303234;
        border: none;
        /* padding-bottom: 10%; */
        border-radius: 0px;
    }

    .tabbar {
        display: block;
        position: fixed;
        width: 100vw;
        height: 10%;
        top: 90%;
        z-index: 1001;
        left: 0vh;
        align-items: center;
        overflow: hidden;
        background-color: #303234;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 9px 9px 16px rgba(0, 0, 0, 1);
    }
}