.startAnimation{
    animation-name: startAnime;
    animation-duration: 2s;
}

@keyframes startAnime {
    0% {
      transform: translateY(200%);
    }
    50% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY();
    }
  }