
  .challenge-main {
    
    background-color: #000000;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
    width: 100%;
  }
  
   /* #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
  background-color: #272829;
  box-shadow: 0 .1rem .6rem rgba(0, 0, 0, .3);
  font-family: inherit;
  } */

 .body-ranking{
    height:100%;
    font: 16px/1.2 "Roboto", sans-serif;
	  color: #333;
    border-radius: 8px;
 }

 .leader-board .head-ranking {
	padding: 20px 16px;
	font-size: 20px;
	text-align: center;
  background: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
  border-radius: 8px;
  box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.60), 9px 9px 16px rgba(0, 0, 0, 0.40);
}
.leader-board .head-ranking h1 {
	display: inline-block;
	margin-left: 4px;
}

 .leader-board .body-ranking{
	font-size: 16px;
 }

.leader-board li {
	padding: 16px;
	display: flex;
}
.leader-board li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}

.leader-board li:nth-child(1) {
  border: solid 0.09em rgba(236,200,26,0.4);
  box-shadow: 0px 0px 5px rgba(236, 200, 26, 0.5),
  3px 3px 5px rgba(236, 200, 26, 0.5);
}

.leader-board li:nth-child(2) {
  border: solid 0.09em rgba(219,226,232,0.4);
  box-shadow: 0px 0px 5px rgba(219,226,232, 0.5),
  3px 3px 5px rgba(219,226,232, 0.5); 
}

.leader-board li:nth-child(3) {
  border: solid 0.09em rgba(205,127,50,0.4);
  box-shadow: 0px 0px 5px rgba(205, 127, 50, 0.5),
  3px 3px 5px rgba(205, 127, 50, 0.5); 
}

.ranking-list-body{
  background: #353535;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.4),
    9px 9px 16px rgba(0, 0, 0, 0.4);
  display: flex; /* flexbox 레이아웃 적용 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 */
}

.header-in-screen {
  background-color: #303234;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.40);
  height: 48px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  position: sticky;
  top: -0.2%;
  font-weight: 500;
  font-size: 1.5em;
  color: #f5f5f5;

  /* Flexbox 추가해서 제목이 세로 정렬 중앙에 오도록 배치 */
  display: flex;
  align-items: center;
}

.medal{
  width: 12%;
  height: auto; 
  position: absolute;
  top: -10;
  left: -15;
}