.running-container {
  position: relative;

}

.map-view {
  height: 350px;
  /* Adjust as needed */
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding: 10px;


}

.stats-time,
.stats-distance,
.stats-pace {
  text-align: center;
}


.time,
.distance,
.pace {
  font-size: 2em;
  color: #fff;
}

.label {
  font-size: 0.8em;
  color: #fff;
}

.control-buttons {
  position: relative;
  justify-content: space-around;
  padding: 25px 10px 20px 10px;
  height: 159px;
}







/*codepen*/
:root {
  --primary-light: #8abdff;
  --primary: #303234;
  --primary-dark: #5b0eeb;
  --white: #303234;
  --greyLight-1: #303234;
  --greyLight-2: gray;
  --greyLight-3: #303234;
  --greyDark: #9baacf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*  PLAY BUTTON  */
.circle {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 7rem;
  height: 7rem;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 20px;
}

.circle__btn {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 4rem;
  height: 4rem;
  display: flex;
  margin: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3.2rem;
  color: var(--primary);
  z-index: 300;
  background: var(--greyLight-1);
  /* box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white); */
  box-shadow: -9px -9px 16px rgba(63, 49, 49, 0.4), 9px 9px 16px rgba(0, 0, 0, 0.40);
  cursor: pointer;
  position: relative;
}

/* .circle__btn.shadow {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  } */
.circle__btn .play {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear;
}

.circle__btn .play.visibility {
  opacity: 1;
}

.circle__btn .pause {
  position: absolute;
  transition: all 0.2s linear;
}

.circle__btn .pause.visibility {
  opacity: 0;
}

.circle__back-1,
.circle__back-2 {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
}

.circle__back-1 {
  /* box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white); */
  /* box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.40), 9px 9px 16px rgba(0, 0, 0, 0.40); */
  background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%);
  animation: waves 3.5s linear infinite;
}

.circle__back-1.paused {
  animation-play-state: paused;
}

.circle__back-2 {
  /* box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white); */
  /* box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.40), 9px 9px 16px rgba(0, 0, 0, 0.40); */
  animation: waves 4s linear 4s infinite;
}

.circle__back-2.paused {
  animation-play-state: paused;
}


@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.dribbble {
  position: fixed;
  font-size: 2.6rem;
  right: 2rem;
  bottom: 1rem;
  color: #EA4C89;
}

/* alert */
.alert {
  display: flex;
  align-items: center;
  /* 세로 중앙 정렬 */
  justify-content: center;
  /* 가로 중앙 정렬 */
  position: absolute;
  /* 화면에 고정 */
  top: 20px;
  /* 상단에서 어느 정도 떨어진 위치 */
  right: 20px;
  /* 우측에서 어느 정도 떨어진 위치 */
  left: 20px;
  background-color: #f8f9fa;
  /* 배경색 */
  border: 1px solid #ccc;
  /* 테두리 */
  border-radius: 8px;
  /* 둥근 테두리 모양 */
  padding: 10px 10px;
  /* 내부 여백 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 그림자 효과 */
  z-index: 1000;
  /* 다른 요소 위에 표시 */
}

.alert-icon {
  font-size: 24px;
  /* 아이콘 크기 */
  margin-right: 24px;
  /* 아이콘과 텍스트 사이의 간격 */
}

.alert-text {
  font-size: 16px;
  /* 텍스트 크기 */
  color: #333;
  /* 텍스트 색상 */
}

.stop-btn {

  transition: transform 0.1s ease;
  /* 변형에 대한 부드러운 전환 효과 */

}

.stop-btn:active {
  transform: scale(1.3);
  /* 버튼 크기를 10% 증가 */
}


@media screen and (max-width: 768px) {
  .control-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 10px 20px 10px;
    height: 159px;
  }
}