.WebCamContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw;
    height: 90vh; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(99, 122, 159, 0.5);
}

button.WebCamBtn {
    margin-top: 10px;
    padding: 10px 40px;
    border: none;
    background-color: rgb(6, 191, 233);
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 75%;
    width: 186px;
    left: 50%;
    margin-left: -93px;
}

button.WebCamStartBtn,
button.WebCamStopBtn,
button.WebCamVideoUploadBtn {
    /* margin-top: 10px; */
    padding: 8px 40px;
    border: none;
    background: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    box-shadow: -4px -4px 8px rgba(73, 73, 73, 0.20), 4px 4px 8px rgba(0, 0, 0, 0.30);
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    z-index: 2;
    width: calc(65% - 20px);
    height: 52px;
    margin: 8px;
    position: absolute;
    left: auto;
    font-size: large;
    font-weight: 700;
}

.zoom {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 191, 233);
    z-index: 2;
    width: calc(47% - 24px);
    height: 54px;
    position: absolute;
    top: 64%;
    background-color: rgba(70, 72, 75, 0.6);
    border-radius: 54px;
    box-shadow: -4px -4px 8px rgba(73, 73, 73, 0.20), 4px 4px 8px rgba(0, 0, 0, 0.30);
    /* border: 3px solid rgba(70, 72, 75, 0.8); */
}

.zoomBtn {
    /* fill: radial-gradient(45.89% 60.07% at 50% 50%, #2E3134 0%, #292B2E 100%);
    stroke-width: 1px;
    stroke: #272829; */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30) inset;
    border: none;
    background-color: rgba(70, 72, 75, 0.8);
    color: #f5f5f5;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 2%;
    line-height: 40px;
}

.selectedZoom {
    border: 2px solid gold !important;
}

.ZoomControl {

    /* padding: 10px 40px; */
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    z-index: 2;

    margin: 10px;
    position: absolute;
    top: 65%;
}

.switchCamera {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    z-index: 2;
    width: 48px;
    height: 48px;
    margin: 10px;
    position: absolute;
    right: 4%;
    top: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(140deg, #a4b0f1 0%, #5d4fad 100%);
    box-shadow: -4px -4px 8px rgba(73, 73, 73, 0.10), 4px 4px 8px rgba(0, 0, 0, 0.20);
}

button.WebCamStartBtn {
    top: 74%;
}

button.WebCamStopBtn {
    top: 74%;
}

button.WebCamVideoUploadBtn {
    top: 83%;
    padding-top: 8px;
}

.closeWhite,
.closeBlack {
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    width: 2%;
    height: auto;
    margin: 10px;
    position: absolute;
    left: 0%;
    top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.WebCamImg {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.WebCamApp {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #262b36;
    padding-bottom: 0;
    overflow: hidden;
}

.WebCamTimer {
    position: absolute;
    top: 6%;
    right: 7%;
    color: white;
    font-size: 20px;
}

.webcam-slide-enter {
    /* right: -100%; */
    /* transition: right 300ms ease-in-out; */
    opacity: 0;
}

.webcam-slide-enter-active {
    /* right: 0; */
    opacity: 1;
    transition: opacity 800ms;
}

.webcam-slide-exit {
    /* right: 0; */
    /* transition: right 300ms ease-in-out; */
    opacity: 1;
}

.webcam-slide-exit-active {
    /* right: -100%; */
    opacity: 0;
    transition: opacity 800ms;
}

.WebCamApp.show {
    position: absolute;
    right: 0;
    transition: right 800ms ease-in-out;
    /* 우측으로 슬라이드하는 애니메이션 */
}


/* storyInfo */
.storyInfoContainer {
    position: absolute;
    width: 100.5%;
    height: 30%;
    top: 76.5%;
    /* top: 0%; */
    /* left: 7.5%; */
    left: 0%;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.00) 0%, rgba(0, 0, 0, 0.80) 61%, #000000 100%);
    z-index: 4;
    opacity: 1;
    /* border: 2px solid black; */
}

.storyProfileImg {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    position: absolute;
    top: 24px;
    background-color: #5d4fad;
    left: 6%;
    border: 4px double black;
}

.storyInfo1 {
    color: #f5f5f5;
    /* font-weight: 500; */
    font-size: 1.1em;
    margin: 2% 6%;
    z-index: 3;
    position: absolute;
    top: 30%;
    font-size: 24px;
    line-height: 22px;
    font-weight: 700;
    left: 25%;
    opacity: 1;
}

.storyInfo2 {
    color: #888888;
    font-weight: 500;
    font-size: 1.1em;
    margin: 2% 6%;
    z-index: 3;
    position: absolute;
    top: 62%;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    left: 25%;
}

@media screen and (max-width: 768px) {

    .WebCamContainer {
        /* 모바일에서 버튼이 표시되도록 변경 */
        display: flex;
        flex-direction: column;
        /* 버튼이 위에서 아래로 정렬되도록 변경 */
        align-items: center;
        /* 버튼을 수직으로 가운데 정렬 */
        justify-content: center;
        /* 버튼을 수평으로 가운데 정렬 */
        position: static;
        overflow-y: hidden;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: rgba(99, 122, 159, 0.5);
    }

    .storyInfoContainer {
        position: absolute;
        width: 100.5%;
        /* margin: auto; */
        height: 24%;
        /* top: 72.8%;
        left: 7.5%; */
        /* bottom: 0; */
        left: auto;
        top: 76.5%;
        z-index: 4;
        opacity: 0.7;
        padding: 10px;
        /* 필요한 경우에 조정 */
        /* box-sizing: border-box; */
    }

    button.WebCamStartBtn,
    button.WebCamStopBtn,
    button.WebCamVideoUploadBtn {
        width: calc(66% - 20px);
        /* 버튼의 너비를 조정하여 화면 크기에 맞게 표시 */
        margin: 10px;
        /* 위아래 여백을 주어 버튼들 간격을 조정 */
        left: auto;
        /* left 속성을 해제하여 가운데 정렬 */
        transform: none;
        /* transform 속성을 해제하여 가운데 정렬 */
        z-index: 3;
    }


    button.WebCamStartBtn {
        top: 73%;
        /* 시작 버튼의 위치 조정 */
    }

    button.WebCamStopBtn {
        top: 73%;
        /* 중지 버튼의 위치 조정 */
    }

    button.WebCamVideoUploadBtn {
        top: 82%;
        /* 다운로드 버튼의 위치 조정 */
        padding-top: 8px;
    }

    button.WebCamBtn {
        position: static;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .zoom {
        top: 63%;
    }

}

@media screen and (max-width: 360px) {
    .WebCamContainer {
        /* 모바일에서 버튼이 표시되도록 변경 */
        width: 100vw;
        height: calc(100vh - 61px);
        z-index: 1;
        background-color: rgba(99, 122, 159, 0.5);
    }
}