/* 전체 컨테이너 스타일링 */
.MyChallenge-container {
    display: flex;
    justify-content: space-around; /* 항목들 사이에 균일한 간격 유지 */
    flex-wrap: wrap; /* 필요시 여러 줄로 항목을 나눔 */
    padding: 16px 8px 30px 8px; /* 컨테이너 내부 여백 */
    border: 2px solid #ddd; /* 경계선 스타일링 */
    border-radius: 10px; /* 경계선 둥글게 처리 */
    background-color: #303234; /* 배경색 */
    max-width: 92%; /* 컨테이너 최대 너비 */
    margin: auto; /* 페이지 중앙 정렬 */
  }
  
  /* 각 항목 스타일링 */
  .MyChallenge-item {
    display: flex;
    flex-direction: column; /* 항목 내부를 수직으로 정렬 */
    align-items: center; /* 중앙 정렬 */
    margin-bottom: 10px; /* 항목 간의 하단 여백 */
  }
  
  .MyChallenge-item strong {
    margin-top: 10px; /* 도넛 차트와 제목 사이의 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    color: #ddd; /* 텍스트 색상 */
  }

  /* CSS Variables */
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
  --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

.segmented-control {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 20rem; /* 너비를 4개의 탭을 수용할 수 있도록 조정 */
  height: 4rem;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto; /* 왼쪽 마진 자동 설정 */
  margin-right: auto; /* 오른쪽 마진 자동 설정 */
  margin-top: 16px;
}

.segmented-control input {
  display: none;
}

.segmented-control > input:checked + label {
  transition: all .5s ease;
  color: var(--primary);
}

.segmented-control__1,
.segmented-control__2,
.segmented-control__3,
.segmented-control__4 {
  width: 5rem;
  height: 3.6rem;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all .5s ease;
}

.segmented-control__1:hover,
.segmented-control__2:hover,
.segmented-control__3:hover,
.segmented-control__4:hover {
  color: var(--primary);
}

.segmented-control__color {
  position: absolute;
  height: 3.4rem;
  width: 4.5rem;
  margin-left: .3rem;
  border-radius: .8rem;
  box-shadow: var(--inner-shadow); /* SCSS 변수 $inner-shadow를 CSS 변수로 변경 */
  pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
  transform: translateX(5rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__color {
  transform: translateX(10rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-4:checked ~ .segmented-control__color {
  transform: translateX(15rem); /* 위치 조정 */
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
  

.currentMonthMyChallenge-container{
  display: flex;
    justify-content: space-around; /* 항목들 사이에 균일한 간격 유지 */
    flex-wrap: wrap; /* 필요시 여러 줄로 항목을 나눔 */
    padding: 16px 8px 30px 8px; /* 컨테이너 내부 여백 */
    border: 2px solid #ddd; /* 경계선 스타일링 */
    border-radius: 10px; /* 경계선 둥글게 처리 */
    background-color: #303234; /* 배경색 */
    max-width: 92%; /* 컨테이너 최대 너비 */
    margin: auto; /* 페이지 중앙 정렬 */
    margin-top: 10px;
    height: 100px;
}

