/* 전체 컨테이너 스타일링 */
.MyChallenge-container {
  display: flex;
  flex-direction: column; /* 컨테이너의 자식 요소들을 세로로 정렬 */
  padding: 8px 12px 30px 12px; /* 컨테이너 내부 여백 */
  border-radius: 10px; /* 경계선 둥글게 처리 */
  background-color: #303234; /* 배경색 */
  max-width: 92%; /* 컨테이너 최대 너비 */
  margin: auto; /* 페이지 중앙 정렬 */
  box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.40), 9px 9px 16px rgba(0, 0, 0, 0.40);
 
  margin-top: 10px;
  height: 170px;
}

.MyChallenge-title {
  display: flex;
  justify-content: space-between; /* "Challenge 달성률"과 링크를 양 끝으로 정렬합니다. */
  align-items: center; /* 세로 방향으로 가운데 정렬합니다. */
  width: 100%; /* 필요하다면 너비를 조정합니다. */
  margin-bottom: 24px;
}


.MyChallenge-items-container {
  display: flex;
  flex-direction: row; /* 아이템들을 가로로 일렬로 배치 */
  justify-content: center; /* 가로 방향으로 가운데 정렬 */
  flex-wrap: wrap; /* 필요시 아이템들을 다음 줄로 넘김 */
}

.MyChallenge-item {
  width: 62px;
  height: 62px;
  display: flex;
  flex-direction: column; /* 아이템 내부 요소를 세로로 정렬 */
  justify-content: center; /* 세로 방향으로 가운데 정렬 */
  align-items: center; /* 가로 방향으로 가운데 정렬 */
  margin: 5px; /* 아이템 간 간격 조정 */
  font-size: clamp(12px, 2vw, 24px);
}
  
  

  /* CSS Variables */
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
  --inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

.segmented-control {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 20rem; /* 너비를 4개의 탭을 수용할 수 있도록 조정 */
  height: 4rem;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto; /* 왼쪽 마진 자동 설정 */
  margin-right: auto; /* 오른쪽 마진 자동 설정 */
  margin-top: 16px;
}

.segmented-control input {
  display: none;
}

.segmented-control > input:checked + label {
  transition: all .5s ease;
  color: var(--primary);
}

.segmented-control__1,
.segmented-control__2,
.segmented-control__3,
.segmented-control__4 {
  width: 5rem;
  height: 3.6rem;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all .5s ease;
}

.segmented-control__1:hover,
.segmented-control__2:hover,
.segmented-control__3:hover,
.segmented-control__4:hover {
  color: var(--primary);
}

.segmented-control__color {
  position: absolute;
  height: 3.4rem;
  width: 4.5rem;
  margin-left: .3rem;
  border-radius: .8rem;
  box-shadow: var(--inner-shadow); /* SCSS 변수 $inner-shadow를 CSS 변수로 변경 */
  pointer-events: none;
}

#tab-1:checked ~ .segmented-control__color {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__color {
  transform: translateX(5rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__color {
  transform: translateX(10rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-4:checked ~ .segmented-control__color {
  transform: translateX(15rem); /* 위치 조정 */
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
  

.currentMonthMyChallenge-container{
    justify-content: space-around; /* 항목들 사이에 균일한 간격 유지 */
    flex-wrap: wrap; /* 필요시 여러 줄로 항목을 나눔 */
    padding: 16px 16px 30px 16px; /* 컨테이너 내부 여백 */
    box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.40), 9px 9px 16px rgba(0, 0, 0, 0.40);
    border-radius: 10px; /* 경계선 둥글게 처리 */
    background-color: #303234; /* 배경색 */
    max-width: 92%; /* 컨테이너 최대 너비 */
    margin: auto; /* 페이지 중앙 정렬 */
    margin-top: 10px;
    height: 250px;
}

/* MonthlyActivitySummary */

.date {
  margin-bottom: 16px;
  margin-left:9px;
  display: flex;
  justify-content: space-between; /* "Challenge 달성률"과 링크를 양 끝으로 정렬합니다. */
  align-items: center; 
}

.total-distance .number {
  font-size: 56px;
  font-weight: bold;
  line-height: 1;
  margin-left:16px;
  margin-bottom: 16px;
}

.total-distance .label {
  font-size: 12px;
  margin-left:9px;
}
.total-distance{
  margin-bottom: 20px;
}

.runningstats-container {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}




.stat .number {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
}

.stat .label {
  font-size: 12px;
}


