/* 전체 컨테이너 스타일링 */
.MyChallenge-container {
    display: flex;
    justify-content: space-around; /* 항목들 사이에 균일한 간격 유지 */
    flex-wrap: wrap; /* 필요시 여러 줄로 항목을 나눔 */
    padding: 16px 8px 30px 8px; /* 컨테이너 내부 여백 */
    border: 2px solid #ddd; /* 경계선 스타일링 */
    border-radius: 10px; /* 경계선 둥글게 처리 */
    background-color: #303234; /* 배경색 */
    max-width: 92%; /* 컨테이너 최대 너비 */
    margin: auto; /* 페이지 중앙 정렬 */
  }
  
  /* 각 항목 스타일링 */
  .MyChallenge-item {
    display: flex;
    flex-direction: column; /* 항목 내부를 수직으로 정렬 */
    align-items: center; /* 중앙 정렬 */
    margin-bottom: 10px; /* 항목 간의 하단 여백 */
  }
  
  .MyChallenge-item strong {
    margin-top: 10px; /* 도넛 차트와 제목 사이의 여백 */
    text-align: center; /* 텍스트 중앙 정렬 */
    color: #ddd; /* 텍스트 색상 */
  }
  
  