@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.profile_main {

    /*font-family: var(--font);*/
    .my_info {
        /*margin-top: 10%;*/
        /*padding: 5%;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        /*margin-left: 5%;*/
        /*height: 100%;*/
        /*max-width: 100%;*/
        /*max-height: 100%;*/
        position: relative;
        /* left: 50%; */
        margin-top: 24px;
        /* transform: translate(-50%); */
        /*background-color: #303234;*/
        /*border-radius: 50px;*/
        /*box-shadow: -7px -7px 16px rgba(73, 73, 73, 0.6), 9px 9px 16px rgba(0, 0, 0, 0.40);*/

        .profile_image {
            width: 63px;
            height: 63px;
            border-radius: 64px;
            /*position: absolute;*/
        }

        .rank_border {
            /*border-radius: 88px;*/
            /*border: black solid 10px;*/
            width: 76px;
            height: 76px;
            margin-top: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-right: 16px; */
            /*position: absolute;*/
            /*top: -20%;*/
            /*left: 25%;*/
            /*transform: translate(-50%, -10%);*/
        }

        .uploadProfileImg img.changeProfileImg {
            /* position: absolute;
            top: 70%;
            left: 18%; */
            margin-top: 54px;
            margin-left: -20px;
            /* font-size: 22px; */
            cursor: pointer;
            z-index: 1.5;
            width: 20px;
            height: auto;

        }

        .edit_button {
            /* position: absolute; */
            /*right: 10%;*/
            /* top: 30%; */
            /*margin: 5%;*/
            width: 14px;
            height: auto;
            color: #f5f5f5;
            /* float: right; */
            /* font-size: 12px; */
            /* line-height: 12px; */
            /* font-weight: 600; */
            /* margin-top: -44px; */
            margin-left: 8px;
        }

        /* .email_info {
            font-size: small;
            margin-top: 8px;
            color: gray;
            margin-left: 20%;
        } */

        .show_info {
            text-align: left;
            padding-top: 18px;
            padding-left: 12px;
            width: 200px;
        }

        /* .show_info ion-icon {
            font-size: 20px;
        } */

        .level_icon {
            width: 100px;
            height: 100px;
        }

        .user_nickname {
            font-weight: 700;
            font-size: 20px;
        }

        .user_email {
            color: gray;
            margin-top: 2px;
            font-weight: 400;
            font-size: 12px;
        }
    }
}