@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.profile_main {
    /*font-family: var(--font);*/
    .my_info {
        /*margin-top: 10%;*/
        /*padding: 5%;*/
        display: inline-flex;
        /*width: 90%;*/
        /*margin-left: 5%;*/
        /*height: 100%;*/
        /*max-width: 100%;*/
        /*max-height: 100%;*/
        position: relative;
        left: 48%;
        margin-top: 15%;
        transform: translate(-50%, -10%);
        /*background-color: #303234;*/
        /*border-radius: 50px;*/
        /*box-shadow: -7px -7px 16px rgba(73, 73, 73, 0.6), 9px 9px 16px rgba(0, 0, 0, 0.40);*/

        .profile_image {
            width: 90px;
            height: 90px;
            border-radius: 500px;

        }

        .rank_border {
            border-radius: 500px;
            border: black solid 10px;
            width: 110px;
            height: 110px;
            margin-top: 7%;
            margin-right: 5%;
            /*position: absolute;*/
            /*top: -20%;*/
            /*left: 25%;*/
            /*transform: translate(-50%, -10%);*/
         }

        .rank_border ion-icon {
            position: absolute;
            top: 77%;
            font-size: 22px;
            cursor: pointer;
        }
        .edit_button {
            /*position: absolute;*/
            /*right: 10%;*/
            /*top: 30%;*/
            /*margin: 5%;*/
            width: 46px;
            height: 25px;
            color: #f5f5f5;
            float: right;
            font-size: 10px;
            font-weight: 600;
        }

        .email_info {
            font-size: small;
            margin-top: 16px;
            color: gray;
            margin-left: 20%;
        }

        .show_info {
            text-align: left;
            padding-top: 10%;
            padding-left: 5%;
            width: 210px;
        }

        .show_info ion-icon {
            font-size: 20px;
        }

        .level_icon {
            width: 100px;
            height: 100px;
        }

        .user_nickname {
            font-weight: bolder;
        }

        .user_email {
            color: gray;
        }
    }
}