.myChallengeBox {
  margin-left: auto;
  width: 70%;
  height: 70%;
  justify-content: center;
}

.challenge-list-title {
  margin-left: 10px;
}

.exercise-main-container {
  border-radius: 20px;
  display: flex;
  margin: 16px auto 10px auto;
  padding: 16px;
  width: 330px;
}

/* 운동 리스트 */
.exercise-container {
  margin: 8px auto 0px auto;
  display: flex;
  justify-content: space-evenly; /* 내부 요소들을 균등하게 배치 */
  align-items: center; /* 세로축 중앙 정렬 */
  width: 330px; /* 컨테이너의 너비 */
  height: 140px; /* 컨테이너의 높이 */
  box-shadow: -9px -9px 16px rgba(73, 73, 73, 0.4),
    9px 9px 16px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 10% 0; /* 상단과 하단에 padding 추가 */
}

.exercise-content {
  border-radius: 20%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.exercise-button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* 각 운동 이미지와 텍스트를 담는 컨테이너 */
.exercise-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exercise-content::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #353535;
  border-radius: inherit;
}

.exercise-item:hover .exercise-content::before {
  border: 4px solid gray;
}

.exercise-item:focus .exercise-content::before {
  border: 4px solid gray;
}

/* 이미지 스타일 */
.exercise-image {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 20%;
}

.exercise-challenge-list {
  position: relative;
  display: flex;
  width: 330px;
  height: 122px;
  align-items: center;
  margin-bottom: 24px;
  color: white;
  overflow: hidden;
  border-radius: 20px;
}

/* 내 챌린지 리스트 사진 부분 */
.exercise-content-inner {
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 각 운동 이미지와 텍스트를 담는 컨테이너 */
.exercise-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.exercise-challenge-list-body {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonBox {
  margin-left: auto;
  margin-right: 16px;
}

.buttonBox-plus {
  cursor: pointer;
}

.buttonBox-plus img {
  width: 35px;
  height: 35px;
  margin-bottom: 33px;
  cursor: pointer;
}

.challenge-subject {
  display: flex;
  width: 118px;
  height: 20px;
  padding: 40px 0px 0px 28px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.challenge-daily {
  justify-content: center;
  padding: 8px 0px 0px 28px;
}
.subject1 {
  color: #9a9a9a;
  font-feature-settings: "clig" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-right: 4px;
}

.subject2 {
  color: #f5f5f5;
  font-feature-settings: "clig" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
}

.subject3 {
  color: #fff;
  font-feature-settings: "clig" off;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.subject4 {
  color: #fff;
  font-feature-settings: "clig" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.exp-container {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

.exp-subject {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.exp-bar {
  background: linear-gradient(to right, #a1b1ea, #4756a1);
  position: absolute;
  width: 120%;
  height: 32px;
  z-index: 1;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
